a{
    text-decoration: none;
    color:black;
    
}

.skill{
    font-weight: 100;
}

#heading{
    font-size:40px; color:white; background-color:#8f4b39;text-align:center;
}

#maindiv{
    background-color:#d1a472; float:left;
}

#image{
    float:left;
}

#skill{
    background-color:#d19d51;
    
}
 .pics{
     height: 50px;


 }
.pics{
    height:50px;
    
}
.icon{
    height:70px;
}
.blank{
    height:30px;
}
.link{
    font-size: 20px;
}